/* Estilos de letra */
body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #0ea61f; /* Color del título */
}

p {
    color: #ad0b0b; /* Color del texto */
    font-weight: 100;
    font-size: larger;
}
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    background-color: #f2f2f2; /* Color de fondo gris claro */
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
}

header nav ul li a {
    text-decoration: none;
    color: #333; /* Color del texto */
}

#grafico {
    padding-top: 25px; /* Aumenta el padding superior */
    padding-right: 20px; /* Aumenta el padding derecho */
    padding-bottom: 5px; /* Aumenta el padding inferior */
    padding-left: 10px; /* Aumenta el padding izquierdo */
  }
  
#grafico {
    background-color: #333;
}